@import 'https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Oswald:300,400,700';

$heading: 'Oswald', sans-serif;
$body: 'Noto Serif', serif;

$dark-blue: #2b325f;
$dark-red: #bc0000;
$body-color: rgba(0,0,0,0.87);

body {
  box-sizing: border-box;
  // background: url('/creative/flag.jpg') no-repeat center center;
  background-size: cover;
}

p {
  font-family: $body;
  font-size: 20px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
    // -J 10/23
    text-shadow: rgba(0, 0, 0, 0.098) 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

img  {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// #home_splash {
//   background: rgba(255,255,255,.15);
//   .wrap {
//     position:relative;
//     background-color: rgba(46, 52, 95, 0.9);
//     padding: 20px;
//     color:white;
//     border: 4px solid #bc0000;
//     text-align: center;
//     box-sizing: border-box;
//     h1 {
//       margin:0;
//       font-family: $heading;
//       font-size: 60px;
//       svg {
//         fill: #bc0000;
//         width: 40px;
//       }
//     }
//     h3 {
//       margin:0 0 10px 0;
//       font-family: $heading;
//       font-size: 30px;
//     }
//     h4 {
//       margin:0;
//       font-family: $body;
//       margin:0 0 20px 0;
//     }
//     .year {
//       position:absolute;
//       bottom: -10px;
//       left:-4px;
//       right:-4px;
//       padding: 4px 8px;
//       display:inline-block;
//       background-color: #bc0000;
//       color:white;
//     }
//   }
// }
//

#menu {
  background-color: white;
  /*height: 95px; (-J 10/23)*/
  height: 155px;
  .logo {
    display: inline-block;
    height: 100%;
    //max-width: 200px;
	max-width: 244px;
	padding: 10px 0;
    svg {
      height: 90px;
    }
    @media (max-width: 960px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .md-toolbar-tools {
    min-height: 100%;
    .nav-link {
      display: inline-block;
      color: $body-color;
      padding: 0 20px;
      border-left: 1px solid #eee;
      height: 100%;
      /*line-height: 95px; -J 10/23*/
	  line-height: 155px;
      transition: all .25s ease;
      letter-spacing: 1px;
      &:hover, &:active, &:focus {
        color:white;
        background-color: $dark-red;
      }
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}

#hero {
  background: url('/creative/flag.jpg') no-repeat center center;
  background-size: cover;
  position:relative;
  height: 80vh;
  &:after {
    content: ' ';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+50,000000+60,000000+100&0+0,0.65+81,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.48) 60%, rgba(0,0,0,0.65) 81%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.48) 60%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.48) 60%,rgba(0,0,0,0.65) 81%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  }
  img {
    position: absolute;
    z-index:5;
    right: 5%;
    height: 100%;
  }
  .hook {
    position: absolute; 
	top: 30%;	
    @media (min-width: 1000px) {
      left: 4%;
    }
    @media (max-width: 600px) {
      right: 0;
      left: 0;
	  width: 100%;
	  top: 40%;
    }
    z-index: 6;
    color:white;
    /* -J 10/23 
 	bottom:0;
	padding: 15px 20px; 
    text-align: center;
	background: rgba(46, 52, 95, .75); */
    h2 {
      //font-size: 38px;
	  //margin: 0 0 5px 0;
	  font-size: 58px;
      margin: 0;
      font-family: $heading;
      font-weight: 800;
	  @media (max-width: 600px) {
	  	text-align: center;
		font-size: 48px;
	  }
    }
    h3 {
      //font-size: 38px;
	  //margin: 0;
	  margin: -20px 0 0;
	  font-size: 48px;
      font-family: $heading;
      font-weight: 300;
      word-spacing: 4px;
      letter-spacing: 1px;
	  @media (max-width: 600px) {
		font-size: 38px;
	  	text-align: center;
		margin-top: -10px;
	  }
    }
  }
}

#intro {
  .container {
    padding: 20px;
    p {
      padding: 0 20px;
    }
  }
}

#issues {
  background: $dark-blue;
  color:white;
  .container {
    padding: 30px 20px;
    > h1 {
      text-align: center;
      font-size: 42px;
      padding: 20px;
      font-weight: 300;
      letter-spacing: 2px;
    }
    svg {
      max-width: 50%;
    }
    h4 {
      margin: 0;
      font-size: 28px;
      font-family: $heading;
    }
    p {
      line-height: 28px;
      margin-bottom: 5px;
    }
    .issue {
      padding-bottom:30px;
      div:nth-child(2) {
        @media (min-width:960px) {
          padding-left:5%;
          border-left: 1px solid white;
        }
      }
      @media (max-width:959px) {
        text-align:center;
        border-bottom:  1px solid white;
        padding-bottom: 30px;
      }
    }
  }
}

#support {
  .container {
    padding: 30px 20px;
     h1 {
      font-size: 42px;
      margin-bottom:0;
      font-weight: 300;
      letter-spacing: 2px;
    }
    p {
      line-height: 28px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 30px;
      margin:10px 0;
      font-weight: 200;
    }
  }
}

#swag {
  background-color: #b7b7b7;
  text-align: center;
  .container {
    padding: 30px 20px;
    h1 {
      color: white;
      font-size: 42px;
      margin-bottom: 30px;
      font-weight: 200;
      letter-spacing: 2px;
    }

  }
}

#footer {
  background-color: $dark-blue;
  padding: 30px 0;
  .banner {
    padding: 0;
    text-align: center;
    height: 95px;
    svg {
      background-color:white;
      width: 170px;
      height: 95px;
    }
  }
  p {
    padding: 0 30px;
    color:white;
    font-family: $heading;
    a {
      color: $dark-red;
    }
  }
}
