<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">

  <title><?= $title ?></title>
  <meta name="description" content="<?= $description ?>">
  <meta name="author" content="Vote for Mesha">

  <link rel="stylesheet" href="/dist/all.min.css?v=2.0">
  <script src="/dist/all.min.js?v=2.0"></script>
  <meta property="og:url"                content="http://votemesha.com" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="<?= $title ?>" />
  <meta property="og:description"        content="<?= $description ?>" />
  <meta property="og:image"              content="http://votemesha.com/creative/social_splash.png" />
  <meta property="og:image:width"              content="375" />
  <meta property="og:image:height"              content="453" />
</head>

<body ng-controller="global">
  <div ng-show="loading" id="loading">
    <md-progress-circular md-diameter="150"></md-progress-circular>
  </div>
  <div ng-show="!loading">
    <md-toolbar class="md-hue-2" id="menu">
      <div class="md-toolbar-tools">
        <a class="logo" href="#">
          <?= file_get_contents(__DIR__.'/../includes/svg/mesha_banner.svg') ?>
        </a>
        <span flex></span>
        <a class="nav-link" ng-click="scrollTo('intro')">WHY MESHA?</a>
        <a class="nav-link" ng-click="scrollTo('issues')">POSITIONS</a>
        <a class="nav-link" ng-click="scrollTo('support')">SUPPORT</a>
        <a class="nav-link" ng-click="scrollTo('swag')">SWAG</a>
        <a class="nav-link" ng-click="scrollTo('footer')">CAUSE</a>
      </div>
    </md-toolbar>
